.my-bg{
	background-image: url('./background.jpg') ;
	background-attachment: fixed;
	min-height: 900px;
}
.my-img{
	height: 250px;
	width: 250px;
	justify-content: center;
	border-radius: 50%;
	border: 3px solid #24471b;
}
.my-title1{
	padding-top: 80px;
	float: center;
}
.my-block{
	background-color: #24471b;
	width: 300px;
	height: 80px;
}
.my-block2{
	background-color: #5db946;
	width: 300px;
	height: 30px;
	padding-top: 3px;
	color: white;
}
.my-block2:hover{
	cursor: pointer;
	background-color: #7dc76b;
	box-shadow: 0px 2px 2px 2px rgba(115, 115, 115, .5);
}
.my-font{
	color: #e3dec0;
	font-size: 14px;
}
.timesNR{
	font-family: "Times New Roman", Times, serif;
}
.price-font{
	color: white;
	font-size: 30px;
}
.items-container{
	padding-top: 120px;
}
.my-item-cover{
	padding-bottom: 15px;
	transition: all 0.5s;
}
.my-item-img-cover{
	
}
.my-item-img{
	width: 150px;
	height: 150px;
	border-left: 3px solid #24471b;
	border-right: 3px solid #24471b;
	border-top: 3px solid #24471b;
	background-color: white;
}
.my-desc{
	width: 200px;
	height: 40px;
	background-color:#24471b;
	color: #e3dec0;
	padding-top: 7px;
}
.my-price{
	width: 150px;
	height: 30px;
	background-color: #e3dec0;
	border-right: 3px solid #24471b;
	border-left: 3px solid #24471b;
	border-bottom: 3px solid #24471b;
	color: #24471b;
}
.my-checkout{
	width: 100px;
	height: 40px;
	background-color: #5db946;
	color: white;
	padding-top: 7px;
}
.my-animation{
	position: absolute;
    bottom: -80px;
    right: 0;
    left: 0;
    transition: all 0.5s;
}
.my-item-img:hover{
	margin-top: -15px;
}
.my-checkout:hover{
	cursor: pointer;
	background-color: #7dc76b;
	box-shadow: 0px 2px 2px 2px rgba(115, 115, 115, .5);
}
.my-invoice-cover{
	padding-top: 80px;
}
.inv-title{
	background-color: #d9d2b5;
	width: 500px;
	height: 60px;
	padding-top: 15px;
	color: #24471b;
}
.inv-text{
	background-color: #e7e3ca;
	width: 500px;
	height: auto;
	padding: 20px;
	border-top: 2px solid #97894e;

}
.text{
  font-weight: normal;
  white-space: pre-wrap;
  word-break: break-word;
}
.my-back{
	height: 35px;
	width: 70px;
	background-color: #24471b;
	color:white;
	padding-top: 5px;
}
.my-back:hover{
	box-shadow: 0px 2px 2px 2px rgba(115, 115, 115, .5);
	cursor: pointer;
	background-color: #2f5c23;
}